Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [ ]:
##Getting the Data Type
x = 5 #integer
print(type(x))
x = ["apple", "banana", "cherry"] #list
print(type(x))
x = ("apple", "banana", "cherry") #tuple 
print(type(x))      
x = range(6) #range
print(type(x))  
x = {"name" : "John", "age" : 36} #dictionary
print(type(x))  
x = {"apple", "banana", "cherry"} #set
print(type(x))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>

In [3]:
##Setting the Specific Data Type
x = str("Hello World")
print(x)
x = int(20)     
print(x)

Hello World
20

In [4]:
#Python - String Concatenation
#result="Hello" + 5
result = "Hello" + str(5)  # Convert integer to string before concatenation
print(result)

Hello5